@mixin fondo-completo($imagen) {
    background-image: url($imagen);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin bordes-botones{
    border-radius: 24px;
}
@mixin bordes-imaganes{
    border-radius: 8px;
}
@mixin titulo-h1{
    background-color:map-get($colors, secundario);
    justify-content: center;
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
    color:map-get($colors, negro);
}