.botonActivo{
    color:map-get($colors, blanco );
    background-color: map-get($colors, primario );
}

.botonSolicitarPresupuesto{
    width: 80%;
    max-width: 22.375rem;
    padding: .625rem;
    background-color: map-get($colors, primario );
    color: map-get($colors, blanco );
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    border:none;
    margin: 2rem;
    &:hover{
        background-color: map-get($colors, secundario); /* cuando pasas el mouse */
        color: map-get($colors, blanco );
        border:map-get($colors, gris-1) 1px solid;
        transform:scale(1.1) ;
    }
}