.botonActivo{
    color:map-get($colors, blanco );
    background-color: map-get($colors, primario );
}

.botonSolicitarPresupuesto{
    width: 100%;
    max-width: 22.375rem;
    padding: .625rem;
    background-color: map-get($colors, primario );
    color: map-get($colors, blanco );
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    border:none;
    margin: 2rem;
    &:hover{
        background-color: map-get($colors, secundario); /* cuando pasas el mouse */
        color: map-get($colors, blanco );
        border:map-get($colors, gris-1) 1px solid;
        transform:scale(1.1) ;
    }
}

.filtrosGaleria{
    font-size: 14px;
    font-family: "Lato", sans-serif;
    background-color: map-get($colors, blanco);
    border-radius: 24px;
    color:map-get($colors, primario);
    border:map-get($colors, primario) 1px solid;
    display: flex; 
    flex-wrap: wrap;              /* el a es en un elemento en linea que no resperta  width y height, debo pasarlo a block */
    justify-content: center;      /* centra el texto horizontal */
    align-items: center;          /* centra el texto vertical */
    width: 5rem;   /* ancho fijo */
    height: 2rem;
    padding: 4px 6px;
    cursor: pointer;
    &:hover{
        background-color: map-get($colors, terciario); /* cuando pasas el mouse */
        color: map-get($colors, negro );
        border:map-get($colors, gris-1) 1px solid;
        transform:scale(1.1) ;
    }
}

.filtroActivo{
    color:map-get($colors, negro );
    border:1px solid map-get($colors, negro);
    background-color: map-get($colors, secundario );
}