@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

h1, h2 {
    font-family: "Playfair Display", serif;
}
h1 {
    font-size: 24px;
    line-height: 33px;
}
h2 {
    font-size: 32px;
    line-height: 42px;
}
h3, p {
    font-family: "Lato", sans-serif;
}
h3 {
    font-size: 20px;
    line-height: 30px;
}
p {
    font-size: 18px;
    line-height: 25px;
}

.pSmall {
    font-size: 16px;
    line-height: 24px;
}