@media (max-width: 880px) {
  /* main-index */
.serviciosDestacados div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;

    article {
        width: 16rem;
        height: 16rem;

        p {
        padding: 12px;
        }
    }
    }
.ultimosProyectos div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    div {
        width: 16rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    img {
        width: 100%;
        height: auto;
    }
    }
    /* hero */
    .hero {
    flex-direction: column;      
    justify-content: flex-start;  
    align-items: center;         
    height: auto;
    padding-top: 2rem;            
    padding-bottom: 2rem;

    img {
        max-width: 150px;   
        width: auto;        
        height: auto;
        margin: 0 0 2rem 0;
        display: block;      
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;        
        text-align: center;

        h1, h3 {
            margin: 0;
            line-height: 1.2;
        }

        h3 {
            max-width: 90%;
            margin-top: 1rem;
        }
    }
    }
    /* nav */
    nav ul {
        flex-wrap: wrap;         
        justify-content: space-evenly; 
        gap: 16px;             
    }

    nav ul a {
        width: 6rem;            
        height: 2rem;        
    }
}
