/* main-index */
@media (max-width:1023px){
    .serviciosDestacados div article{
        width: 16rem;
        height: 16rem;
    }
    .bannerDelHome img {
    max-width: 350px; /* o el valor que se vea bien, puedes ajustar */
    height: auto;
    }
    
}
@media (max-width:1023px){
    .ultimosProyectos div img{
        width: 100%;
        max-width: 16rem;
        height: auto;
    }
}