.bannerDelHome{
    @include fondo-completo('../assets/img/background_banner.png');
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    gap: 1.5rem;
    div{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        max-width: 100%;
        ul li{
            font-size: 20px;
            line-height: 32px;
            font-family: "Lato", sans-serif;
        }
        h2{
            font-size: 24px;
            line-height:33px ;
        }
    }
    img{
        max-width: 100%;
        height: auto ;
    }
}
