.hero {
    position: relative;
    @include fondo-completo('../assets/img/background_hero.png');
    color: map-get($colors, blanco);
    height: 11.75rem;            
    display: flex;             
    align-items: center;
    img{
        height: auto;            
        width: auto;             
        margin-left: 2rem;
    }
    div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1{
            margin: 0;
            font-size: 28px;
        }
        h3{
            margin: 20px 0 0 0;
        }
    }
}