.servicios{
    display:flex;
    flex-direction: column;
    padding: 0rem 2rem ;
    gap: 2rem;
    background-color:map-get($colors, fondo ) ;
    h1{
        @include titulo-h1;
    }
    h3{
        text-align: center;
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        color:map-get($colors, blanco ) ;
        article{
            display: flex;
            justify-content: space-between;
            width:min(100%, 71.375rem);
            height: 19.3125rem;
            background-color:map-get($colors,primario ) ;
            border-radius: .5rem;
            align-items: center;
            div{
                display: flex;
                padding: 0px 4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.5rem;
                font-family: "Lato", sans-serif;
                font-size: 18px;
                line-height: 25px;
            }
            img{
                width: 45%;         
                height: 100%;      
                object-fit: cover;  
                flex-shrink: 0;     
                display: block;
                border-radius: .5rem;
            }
        }
    }
}