.nosotros {
    .charlie {
    @include fondo-completo("../assets/img/fondo_nosotros.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; // permite que el texto se pase abajo cuando no haya espacio
    gap: 4rem;
    padding: 4rem 2rem;

    img {
        flex: 1 1 350px; // se ajusta de forma flexible
        max-width: 400px;
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    h3 {
        flex: 1 1 350px; // se adapta igual que la imagen
        max-width: 500px;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.6;
        color:map-get($colors, negro);
    }
    }
    .presentacion{
        background-color: map-get($colors, terciario);
        text-align: center;
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem; // espacio entre h2 y h3

        h2 {
        font-size: 2rem;
        line-height: 1.3;
        color:map-get($colors, negro); // ajusta según tu paleta
        max-width: 800px;
        }

        h3 {
            font-size: 1.2rem;
            line-height: 1.6;
            color:map-get($colors, negro); // ajusta según tu diseño
            max-width: 900px;
            font-weight: normal;
        }
    }
}
