.galeria{
    display:flex;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem ;
    gap: 2rem;
    background-color:map-get($colors, fondo ) ;
    h1{
        @include titulo-h1;
    }
    h3{
        text-align: center;
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1.5rem;
    }
    section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem; 
        
        img{
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 8px;
            object-fit: cover;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.05);
                    }
            }
        }
}