nav ul{
    height:auto;
    list-style: none;
    background-color:map-get($colors, fondo );
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    gap: 32px;
    a{
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-family: "Lato", sans-serif;
        background-color: map-get($colors, gris-2 );
        border-radius: 24px;
        color:map-get($colors, gris-1);
        padding: .625rem .625rem;
        border:map-get($colors, gris-1) 1px solid;
        display: flex;                /* el a es en un elemento en linea que no resperta  width y height, debo pasarlo a block */
        justify-content: center;      /* centra el texto horizontal */
        align-items: center;          /* centra el texto vertical */
        width: 6rem;   /* ancho fijo */
        height: 2rem;
        &:hover{
                background-color:map-get($colors, secundario); /* cuando pasas el mouse */
                color: map-get($colors, blanco);
                transform:scale(1.12) ;
        }
    }
}